/* main ------------------------------------------------------------------------------------------------------------------------------------ */

body {
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
}

/* box 1 ------------------------------------------------------------------------------------------------------------------------------------ */

#box1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(auto, 75px) minmax(auto, 120px) minmax(auto, 130px) minmax(auto, 90px) minmax(auto, 90px) auto;
    grid-auto-rows: calc(55px + (65 - 55) * ((100vw - 320px) / (1200 -320)));
    background-color: rgb(9, 4, 175);
    border-bottom: 7px solid black;
    align-items: center;
    justify-items: center;
}

#logo-picture {
    width: calc(40px + (50 - 40) * ((100vw - 320px) / (1200 -320)));
}

#logo-name {
    font-size: calc(21px + (24 - 21) * ((100vw - 320px) / (1200 -320)));
    font-weight: 700;
    justify-self: left;
    font-family: sans-serif;
    cursor: context-menu;
    margin-left:  calc(-8px + (-5 + 8) * ((100vw - 320px) / (1200 -320)));
}

.main-paragraph {
    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1200 -320)));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(250, 250, 250);
    font-weight: 600;  
    margin-top: 0.8px;
}

.main-paragraph a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

/* box 2 ------------------------------------------------------------------------------------------------------------------------------------ */

#box2 {
    box-sizing: border-box;
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgb(215, 215, 215);
    border-left: 1px solid rgba(186, 186, 186, 0.764);
    border-right: 1px solid rgba(186, 186, 186, 0.764);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    min-height: calc(100vh - calc((55px + (65 - 55) * ((100vw - 320px) / (1200 -320))) + 7px));
    align-items: baseline;
    align-content: start;
    padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1200 -320)));
}

.paragraph {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.paragraph p {
    margin: 0 auto;
    font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1200 -320)));    
}

#main-title {
    grid-column: 1 / 6;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-title h2 {
    font-size: calc(19px + (24 - 19) * ((100vw - 320px) / (1200 -320)));
    margin: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 -320)));;
}

@media screen and (max-width: 800px) {
    #box1 {
        grid-template-columns: minmax(auto, 65px) minmax(auto, 110px) minmax(auto, 130px) minmax(auto, 90px) minmax(auto, 90px) auto;
    }
}

@media screen and (max-width: 550px) {
    #box2 {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: auto auto  auto auto;
    }
    #main-title {
        grid-column: 1 / 5;
    }
}

@media screen and (max-width: 515px) {
    #box1 {
        grid-template-columns: minmax(auto, 65px) minmax(auto, 100px) minmax(auto, 130px) minmax(auto, 90px) minmax(auto, 90px) auto;
    }
}

@media screen and (max-width: 420px) {
    #box2 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto  auto auto auto;
    }
    #main-title {
        grid-column: 1 / 4;
    }
    #box1 {
        grid-template-columns: minmax(auto, 65px) minmax(auto, 90px) minmax(auto, 130px) minmax(auto, 90px) minmax(auto, 90px) auto;
    }
}

@media screen and (max-width: 350px) {
    #logo-name {
        display: none;
    }
}

@media screen and (max-width: 310px) {
    #box2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto  auto auto auto auto;
    }
    #main-title {
        grid-column: 1 / 3;
    }
}